@import "./loading-screen";

:root {
  --primary: #ff2321;
  --secondary: #ffe3e3;
  --text-color: black;
}

@mixin buttonStyle() {
  user-select: none;
  cursor: pointer;
  align-items: center;
  color: var(--text-color);
  width: 100%;
  border-radius: 100px;
}

@mixin removeName() {
  padding: 1rem;
  border-radius: 100%;
  width: fit-content;
  margin: 0 auto;
  .label-text {
    display: none;
  }
}

.no-stock-filter {
  filter: saturate(0) opacity(0.5) !important;
  cursor: not-allowed !important;
}

.products-list,
.last-variant {
  text-transform: uppercase !important;
  &,
  * {
    box-sizing: border-box;
  }
  p {
    margin: 0;
    color: var(--text-color);
  }
  .variants-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: var(--secondary);
      border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--primary);
      border-radius: 8px;
    }
    & + .dropdown-mobile {
      margin-top: 0.5rem;
    }
  }
  .dropdown-mobile {
    @include buttonStyle();
    justify-content: space-between;
    color: #000;
    font-size: 0.87125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    padding: 0.94rem 1.5rem;
    border-radius: 6.25rem;
    border: 1.549px solid var(--primary);
    background: var(--secondary);
    display: none;
    svg {
      flex-shrink: 0;
      transition: 0.3s;
      path {
        fill: var(--text-color);
      }
    }
    &.active svg {
      transform: rotate(0.5turn);
    }
    @media (max-width: 767px) {
      font-size: 0.8125rem;
      padding: 0.9375rem 1.44rem;
      display: flex;
      & + div {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
      }
      &.active + div {
        max-height: 21rem;
        padding: 0.5rem;
        overflow-y: auto;
      }
    }
  }
  .button-wrapper {
    width: 100%;
    img {
      width: 100%;
      max-height: 7.5rem;
      object-fit: scale-down;
    }
    input:checked + label .label {
      border-color: var(--primary);
      background-color: var(--secondary);
      .label-ball:after {
        background-color: var(--primary);
      }
    }
    input:disabled + label .label {
      cursor: not-allowed;
    }
    label {
      display: block;
      cursor: pointer;
    }
    &:not(.no-stock-filter) {
      label {
        &:hover,
        &:focus {
          .label {
            border-color: var(--primary);
          }
        }
      }
    }
    .label {
      @include buttonStyle();
      display: flex;
      justify-content: flex-start;
      gap: 0.75rem;
      font-size: 0.87125rem;
      text-align: left;
      line-height: 1;
      font-style: normal;
      font-weight: 900;
      border: 0.0994rem solid #e2e2e2;
      padding: 0.88rem 1rem;
      @media (max-width: 767px) {
        font-size: 0.8125rem;
        padding: 0.9375rem 1.44rem;
      }
      .label-ball {
        display: flex;
        flex-shrink: 0;
        width: 1.125rem;
        height: 1.125rem;
        border: 1px solid black;
        border-radius: 50%;
        background-color: #d9d9d9;
        &:after {
          content: "";
          width: 0.75rem;
          height: 0.75rem;
          margin: auto;
          border-radius: 50%;
        }
      }
    }
  }
  &.last-variant .label {
    @include removeName();
  }
  .dropdown-img {
    display: none;
    width: 100%;
    object-fit: scale-down;
  }
  &.has-dropdown {
    .img {
      display: none;
    }
    .dropdown-img {
      display: block;
    }
    .variants-wrapper {
      flex-direction: column;
      gap: 0.7rem;
      background-color: white;
    }
    .dropdown-mobile {
      display: flex;
      & + div {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
      }
      &.active + div {
        max-height: 21rem;
        padding: 0.5rem;
        overflow-y: auto;
      }
    }
  }
  @media (max-width: 767px) {
    &.has-dropdown.has-img-desktop {
      img {
        display: none;
      }
    }
    &.has-dropdown-mobile {
      img {
        display: none;
      }
      &:not(.has-img-desktop) {
        .dropdown-img {
          display: block;
        }
      }
      .variants-wrapper {
        flex-direction: column;
        gap: 0.7rem;
        background-color: white;
      }
    }
    &.no-name-mobile:not(.has-dropdown-mobile) {
      .label {
        @include removeName();
      }
    }
  }
}

.btn-lock {
  cursor: not-allowed !important;
}
